services:

  server:
    image: user_data_aggregation:v0.1.0
    container_name: user_data_aggregation--server
    build: .
    env_file:
      - ./secrets/server.env
    environment:
      - name=value
    ports:
      - 8080:8080
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - backend

  db:
    image: postgres:13-alpine
    container_name: user_data_aggregation--db
    env_file:
      - ./secrets/db.env
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d templates__postgres"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  pgdata:
    driver: local